---
import PageHeader from "../components/PageHeader.astro";
import Prisliste from "../components/Prisliste.astro";
import Layout from "../layouts/Layout.astro";

export const currentPath = "/priser";

const tilstand = [
  { name: "Leilighet opp til 99 m² BRA", price: "8.500,-" },
  { name: "Leilighet fra 100 til 200 m² BRA", price: "10.500,-" },
  { name: "Bolig opp til 149 m² BRA", price: "13.000,-" },
  { name: "Bolig fra 150 til 249 m² BRA", price: "14.500,-" },
  { name: "Bolig fra 250 m² BRA", price: "17.500,-" },
];

const tillegg = [
  { name: "Hybel/leilighet m/våtrom", price: "3.500,-" },
  { name: "Ved mer enn 3 stk. våtrom, pris pr. våtrom", price: "1.500,-" },
  { name: "Verditakst sammen med tilstandsrapport", price: "2.500,-" },
];

const takster = [
  {
    name: "Enebolig, rekkehus, tomannsbolig, leilighet opp til 250 m² BRA",
    price: "6.000,-",
  },
  {
    name: "Enebolig, rekkehus, tomannsbolig, leilighet fra 250 m² BRA",
    price: "7.000,-",
  },
  { name: "Tomt fra", price: "5.000,-" },
  { name: "Næring fra", price: "18.000,-" },
];

const andreTillegg = [
  { name: "Tillegg for kjøring utenfor Stord kommune." },
  { name: "Rapportavgift kommer alltid i tillegg.", price: "500,- pr. rapport"},
  { name: "Alle priser er inkl mva." },
  { name: "Gjeldende pris for tilstandsrapport er for inntil tre våtrom, dvs. bad og vaskerom. Toalett regnes ikke som våtrom." },
  { name: "Alle andre tjenester etter medgått tid og etter gjeldende timerate kr 1.750,- inkl. mva." }
]
---

<Layout currentPath={currentPath}>
  <div class="">
    <PageHeader pageTitle="Prisliste" />

    <div class="prisliste-container">
      <Prisliste category="Tilstandsrapporter ny forskrift" items={tilstand} />
      <Prisliste category="Pristillegg for:" items={tillegg} />
      <Prisliste category="Takster" items={takster} />
      <Prisliste category="Diverse tillegg / merknader" items={andreTillegg} />
    </div>
  </div>
</Layout>


<style>
  
</style>