---
import PageHeader from "../components/PageHeader.astro";
import Layout from "../layouts/Layout.astro";
import Tjeneste from "../components/Tjeneste.astro";

import { getCollection, render } from "astro:content";

const tjenester = await getCollection("tjenester");

const tjenesterMedContent = await Promise.all(
  tjenester.map(async (tjeneste) => {
    const rendered = await render(tjeneste);
    return { ...tjeneste, Content: rendered.Content };
  })
);

export const currentPath = "/tjenester";
---

<Layout currentPath={currentPath}>
  <PageHeader pageTitle="Tjenester" />
  <div class="grid grid-cols-3 gap-4">
    {tjenesterMedContent.map(({ data, Content }) => (
      <Tjeneste
        key={data.slug}
        icon={data.icon}
        name={data.name}
        category={data.category}
        Content={Content}
      />
    ))}
  </div>
</Layout>
