---
// Props: title, description, icon, image
const { tittel, avsnitt1, avsnitt2, ikon, bilde, bakgrunn } = Astro.props;
import husBilde from "../images/hus.jpg"

const bildeKart = {
  verditakst: husBilde,
}
---
<section class="service-card" style={`background:${bakgrunn}`}>
  <div class="w-2/3 mx-auto py-8">
    {ikon && <img src={`/icons/${ikon}.svg`} alt="" />}
    <h3 class="text-2xl pb-4">{tittel}</h3>
    <p class="pb-2">{avsnitt1}</p>
    <p>{avsnitt2}</p>
    {bilde && <img src={bilde} alt={tittel} />}
  </div>
</section>