---
// Props: title, description, icon, image
import husBilde from "../images/hus.jpg";

const bildeKart = {
  verditakst: husBilde,
};

const { tittel, avsnitt1, avsnitt2, ikon, bilde, bakgrunn, kategori } =
  Astro.props;
type BildeStikkord = keyof typeof bildeKart; // "verditakst" | "annaStikkord"

const valgtBilde = bildeKart[kategori as BildeStikkord];
---

<section class="service-card" style={`background:${bakgrunn}`}>
  <div class="service-header">
    {ikon && <img src={`/icons/${ikon}.svg`} alt="" class="ikon" />}
    <h3 class="service-tittel">{tittel}</h3>
  </div>
  <p class="pad">{avsnitt1}</p>
  <p>{avsnitt2}</p>
  {valgtBilde && <img src={valgtBilde.src} alt={tittel} />}
</section>
