---
// Props: title, description, icon, image
import husBilde from "../images/hus.jpg";

const bildeKart = {
  verditakst: husBilde,
};

const { tittel, avsnitt1, avsnitt2, ikon, bilde, bakgrunn, kategori } =
  Astro.props;
type BildeStikkord = keyof typeof bildeKart; // "verditakst" | "annaStikkord"

const valgtBilde = bildeKart[kategori as BildeStikkord];
---

<section class="service-card" style={`background:${bakgrunn}`}>
  <div class="w-5/6 h-116 mx-auto py-8 px-6 border-1 mb-3 rounded-lg bg-white">
    {ikon && <img src={`/icons/${ikon}.svg`} alt="" />}
    <h3 class="text-2xl pb-4">{tittel}</h3>
    <p class="pb-4">{avsnitt1}</p>
    <p>{avsnitt2}</p>
    {valgtBilde && <img src={valgtBilde.src} alt={tittel} />}
  </div>
</section>
